In [126]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

INPUT_DIR = 'C:\\Users\\College\\Documents\\mmlf\\Current Projects\\Project 1\\input\\'

COL_NAMES = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 
                'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 
                'hours-per-week', 'native-country', '50k']

# train_df = pd.read_csv(f'{INPUT_DIR}adult.data', header = None, names = column_names)
# test_df = pd.read_csv(f'{INPUT_DIR}adult.test', header = None, names = column_names)

CAT_COL = ['workclass', 'education-num', 'marital-status', 'occupation', 'relationship', 'race',
              'sex', 'native-country']

CONT_COL = ['age','fnlwgt','hours-per-week']

TARGET_COL = '50k_ >50K'

train_df = pd.read_csv(f'{INPUT_DIR}adult.data', header = None, names = column_names)
test_df = pd.read_csv(f'{INPUT_DIR}adult.test', header = None, names = column_names)

In [127]:
train_df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [128]:
# train_raw_report = ProfileReport(test_df, explorative = True) 
# train_raw_report.to_file("train_raw_report.html")
# test_raw_report = ProfileReport(test_df, explorative = True) 
# test_raw_report.to_file("test_raw_report.html")

In [129]:
# overall to do
# for all cat variables, find best encoding, add additional encodings if needed
# for all cont variables, duplicate one and normalize + transform for non-tree based models
# imputation of missing values
# grid search 
# ensemble of models
# autoencoders for removing noise
# confusion matrix analysis, precission recall score, further sampling based on that
# innnovative feature engineering


# run 1
# one hot encoding for all -----
# non-tree models, including benchmarks (without transform but with normalize)
# missing values are removed  -----
# no grid search ----
# 5 fold stratified ----
# no autoencoders -----
# dont use capital-gain/ capital-loss/ education for now ----

In [130]:
concat_df = pd.concat([train_df,test_df])
concat_df.drop(['education','capital-gain','capital-loss'],1, inplace = True)
concat_df = concat_df.replace([' ?'],value = np.nan).dropna()

concat_df = pd.get_dummies(concat_df, drop_first = False, columns = CAT_COL)
concat_df['is_test'] = concat_df['50k'].apply(lambda x : 1 if x in [' <=50K.', ' >50K.'] else 0)
concat_df['50k'] = concat_df['50k'].apply(lambda x: ' >50K' if x in [' >50K', ' >50K.'] else ' <=50K')

concat_df = pd.get_dummies(concat_df, drop_first = True, columns = ['50k'])

In [131]:
concat_df.reset_index(drop = True, inplace = True)

In [132]:
concat_copy = concat_df.copy()

In [133]:
from sklearn.preprocessing import StandardScaler

autoscaler = StandardScaler()
concat_copy[CONT_COL] = autoscaler.fit_transform(concat_copy[CONT_COL])

In [134]:
concat_copy

,age,fnlwgt,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,...,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,is_test,50k_ >50K
0,0.034201,-1.062295,-0.078120,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
1,0.866417,-1.007438,-2.326738,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,-0.041455,0.245284,-0.078120,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,1.093385,0.425853,-0.078120,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,-0.798015,1.407393,-0.078120,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,-0.419735,0.525154,-0.078120,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
45218,0.034201,0.243135,-0.411249,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
45219,-0.041455,1.753613,0.754701,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
45220,0.412481,-1.001947,-0.078120,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
45221,-0.268423,-0.071818,1.587523,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,1

In [135]:
TARGET_COL

'50k_ >50K'

In [154]:
TEST_IND = 30162

In [156]:
concat_copy.drop('is_test',1, inplace = True)

In [159]:
X_test = concat_copy[TEST_IND:].drop(TARGET_COL,1)
y_test = concat_copy[TEST_IND:][TARGET_COL]

In [163]:
X_train = concat_copy[:TEST_IND].drop(TARGET_COL,1)
y_train = concat_copy[:TEST_IND][TARGET_COL]

In [165]:
from sklearn.model_selection import StratifiedKFold

In [170]:
from sklearn.linear_model import LogisticRegression

In [168]:
X = np.array(X_train)

In [169]:
y = np.array(y_train)

In [200]:
from sklearn.svm import LinearSVC

In [180]:
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score, confusion_matrix

In [209]:
skf = StratifiedKFold(n_splits=5, random_state=None, shuffle=True)
fold_no = 0
for train_index, test_index in skf.split(X, y):
    X_samp_train, X_samp_test = X[train_index], X[test_index]
    y_samp_train, y_samp_test = y[train_index], y[test_index]
    
    fold_no += 1
    print(f"Fold : {fold_no}          Model used : Logistic Regression")
    
    lc = LogisticRegression(max_iter = 1000, class_weight = "balanced").fit(X_samp_train,y_samp_train)
    
    print("Precision : {}".format(precision_score(y_samp_test, lc.predict(X_samp_test))))
    print("Recall : {}".format(recall_score(y_samp_test, lc.predict(X_samp_test))))
    print("f1_score : {}".format(f1_score(y_samp_test, lc.predict(X_samp_test))))
    array_ = confusion_matrix(y_samp_test, lc.predict(X_samp_test))
    print(array_)
#     df_cm = pd.DataFrame(array_, index = [i for i in ['1','0']], columns = [i for i in ['1','0']])
#     plt.figure(figsize = (10,7))
    #sn.heatmap(df_cm, annot=True)
    #plt.show()
    print("")
    print("")

Fold : 1          Model used : Logistic Regression
Precision : 0.5468277945619335
Recall : 0.8435419440745673
f1_score : 0.6635244828489134
[[3481 1050]
 [ 235 1267]]


Fold : 2          Model used : Logistic Regression
Precision : 0.5513895015438907
Recall : 0.8322237017310253
f1_score : 0.6633059166887769
[[3514 1017]
 [ 252 1250]]


Fold : 3          Model used : Logistic Regression
Precision : 0.5442875481386393
Recall : 0.8474350433044637
f1_score : 0.6628452318916103
[[3466 1065]
 [ 229 1272]]


Fold : 4          Model used : Logistic Regression
Precision : 0.5491980927611617
Recall : 0.844103930712858
f1_score : 0.6654411764705882
[[3491 1040]
 [ 234 1267]]


Fold : 5          Model used : Logistic Regression
Precision : 0.5603563474387527
Recall : 0.8375499334221038
f1_score : 0.6714705097411261
[[3543  987]
 [ 244 1258]]

In [ ]:
Fold : 1          Model used : Logistic Regression
Precision : 0.546284224250326
Recall : 0.8368841544607191
f1_score : 0.6610570602156193
[[3487 1044]
 [ 245 1257]]


Fold : 2          Model used : Logistic Regression
Precision : 0.556099732858415
Recall : 0.8315579227696405
f1_score : 0.6664887940234792
[[3534  997]
 [ 253 1249]]


Fold : 3          Model used : Logistic Regression
Precision : 0.5513816925734024
Recall : 0.8507661558960693
f1_score : 0.6691118679591301
[[3492 1039]
 [ 224 1277]]


Fold : 4          Model used : Logistic Regression
Precision : 0.5434969853574505
Recall : 0.8407728181212525
f1_score : 0.6602144912372483
[[3471 1060]
 [ 239 1262]]


Fold : 5          Model used : Logistic Regression
Precision : 0.5473233404710921
Recall : 0.8508655126498003
f1_score : 0.6661454261141516
[[3473 1057]
 [ 224 1278]]

In [197]:
import matplotlib.pyplot as plt
import seaborn as sn

In [ ]:
skf = StratifiedKFold(n_splits=5, random_state=None, shuffle=True)
fold_no = 0
for train_index, test_index in skf.split(X, y):
    X_samp_train, X_samp_test = X[train_index], X[test_index]
    y_samp_train, y_samp_test = y[train_index], y[test_index]
    
    fold_no += 1
    print(f"Fold : {fold_no}          Model used : SVM")
    
    lc = LinearSVC(max_iter = 3000, class_weight = "balanced").fit(X_samp_train,y_samp_train)
    
    print("Precision : {}".format(precision_score(y_samp_test, lc.predict(X_samp_test))))
    print("Recall : {}".format(recall_score(y_samp_test, lc.predict(X_samp_test))))
    print("f1_score : {}".format(f1_score(y_samp_test, lc.predict(X_samp_test))))
    array_ = confusion_matrix(y_samp_test, lc.predict(X_samp_test))
    print(array_)
#     df_cm = pd.DataFrame(array_, index = [i for i in ['1','0']], columns = [i for i in ['1','0']])
#     plt.figure(figsize = (10,7))
    #sn.heatmap(df_cm, annot=True)
    #plt.show()
    print("")
    print("")